[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
ipython = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
neovim = "*"
werkzeug = "*"
"psycopg2-binary" = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
